.questions {
    background: url('../images/voprosi.jpg') 50%/ cover no-repeat;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    min-height: 440px;
    h4 {
        font-size: 19px;
        font-family: 'Roboto Bold';
        margin: 0;
    }
    p {
        font-size: 14px;
        font-family: 'Roboto Regular';
        margin: 0;
    }
    &__container {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
        &-block {
            background-color: #25333c;
            padding: 15px 0;
        }
        &-form {
            background-color: #c1c2c3;
            padding-top: 20px;
            padding-bottom: 20px;
            display: grid;
            grid-template: 45px 70px / 270px 270px 270px;
            row-gap: 10px;
            column-gap: 10px;
            justify-content: center;
            input[type='text'] {
                grid-column: 1/2;
                padding-left: 10px;
                border-radius: 23px;
                border: none;
            }
            input[type='number'] {
                grid-column: 2/3;
                padding-left: 10px;
                border-radius: 23px;
                border: none;
            }
            input[type='email'] {
                grid-column: 3/4;
                padding-left: 10px;
                border-radius: 23px;
                border: none;
            }
            textarea {
                grid-column: 1/4;
                padding-left: 10px;
                padding-top: 10px;
                border-radius: 10px;
                border: none;
                resize: none;
            }
            button {
                width: 180px;
                height: 45px;
                border-radius: 23px;
                background-color: $main_color;
                border: none;
                text-transform: uppercase;
                color: #fff;
                font-size: 12px;
                margin: 0 auto;
                grid-column: 1/4;
                margin-top: 10px;
            }
        }
    }
}